grant {
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.net.SocketPermission "", "connect,listen,resolve";
};
